{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Charts - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{% static 'css/mypage/mypage.css' %}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
{% include "mypage/navbar.html" %}
<div id="layoutSidenav_content">
    <main>
        <div class="container">
            <br>
            <div class="row">
                <div class="col">
                    <h4>탐지 시간 : {{ record_detect_noAction.time }}</h4>
                </div>
                <div class="col">
                    <h4>CAM ID : {{ record_detect_noAction.camid }}</h4>
                </div>
                <div class="col">
                    <h4>사람행동 미감지 시간 : {{ record_detect_noAction.period }}</h4>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-6">
                    <img class="img-fluid" src="{{ record_detect_noAction.image1.url }}"/>
                    <h3>탐지 객체 바운딩 사진</h3>
                </div>
                <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                    <img class="img-fluid" src="{{ record_detect_noAction.image2.url }}"/>
                    <h3>원본사진</h3>
                </div>
            </div>
            <hr>
            <br>
        </div>

    </main>
    {% include "mypage/footer.html" %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/mypage.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/chart-area-demo.js' %}"></script>
<script src="{% static 'js/mypage/chart-bar-demo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/datatables-simple-demo.js' %}"></script>
</body>
</html>
