{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
        <title>SmartHomeCam</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/mainpage/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{% static 'css/mypage/mypage.css' %}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>

        main {
            padding-top: 1%;
            padding-left: 20%;
            padding-right: 20%;
        }
    </style>
</head>
<body class="sb-nav-fixed">
{% include "mypage/navbar.html" %}
<div id="layoutSidenav_content">
    <main>

        <div id="config_container">
            <div class="card">
                <h5 class="card-header">사람 객체 인식 모드</h5>
                <div class="card-body">
                    <h5 id="dp" class="card-title">사람 인식 기능 OFF</h5>
                    <p class="card-text">사람 객체를 탐지합니다.</p>
                    <button class="btn btn-primary" onclick="config_detect_person()" id="dpb">사람인식 기능 켜기</button>
                </div>
            </div>
            <hr>
            <div class="card">
                <h5 class="card-header">사람 얼굴 인식 모드</h5>
                <div class="card-body">
                    <h5 id="rf" class="card-title">사람 얼굴 인식 기능 OFF</h5>
                    <p class="card-text">가족 멤버로 등록되지 않은 얼굴을 탐지합니다. </p>
                    <button class="btn btn-primary" onclick="config_recognition_face()" id="rfb">사람얼굴 인식 기능 켜기</button>
                </div>
            </div>
            <hr>
            <div class="card">
                <h5 class="card-header">화재 탐지 모드</h5>
                <div class="card-body">
                    <h5 id="df" class="card-title">화재 탐지 기능 OFF</h5>
                    <p class="card-text">화재 발생을 탐지합니다.</p>
                    <button class="btn btn-primary" onclick="config_detect_fire()" id="dfb">화재탐지 기능 켜기</button>
                </div>
            </div>
            <hr>
            <div class="card">
                <h5 class="card-header">반려동물 탐지 모드</h5>
                <div class="card-body">
                    <h5 id="da" class="card-title">반려동물 탐지 모드 OFF</h5>
                    <p class="card-text">강아지, 고양이를 탐지합니다.</p>
                    <button class="btn btn-primary" onclick="config_detect_animal()" id="dab">반려동물 인식 모드 켜기</button>
                </div>
            </div>
            <hr>
            <div class="card">
                <h5 class="card-header">안심 모드</h5>
                <div class="card-body">
                    <h5 id="sm" class="card-title">안심모드 OFF</h5>
                    <p class="card-text">사람활동 미감지, 낙상, 넘어짐을 탐지합니다.</p>
                    <button class="btn btn-primary" onclick="config_safe_mode()" id="smb">반려동물 인식 모드 켜기</button>
                    <div id="sm_time">미감지 알림 시간 : 1시간</div>
                    <input id="input_time" type="number" min="1" max="7">
                    <button class="btn btn-primary" onclick="config_safe_mode_set_time()">시간 설정하기</button>
                </div>
            </div>
            <hr>
        </div>


    </main>
    {% include "mypage/footer.html" %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/mypage.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/datatables-simple-demo.js' %}"></script>
</body>
</html>
<script>
    var un = '{{user.username}}';
    var id = '{{ id }}';

    function config_detect_person() {
        $.ajax({
            url: "/homecam/ajax/config/detectperson/" + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (result) {
                if (result) console.log('success-detect-person');
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function config_recognition_face() {
        $.ajax({
            url: "/homecam/ajax/config/recognitionface/" + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (result) {
                if (result) console.log('success-recognition-face');
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function config_detect_fire() {
        $.ajax({
            url: "/homecam/ajax/config/detectfire/" + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (result) {
                if (result) console.log('success-detect-fire');
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function config_detect_animal() {
        $.ajax({
            url: "/homecam/ajax/config/detectanimal/" + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (result) {
                if (result) console.log('success-detect-animal');
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function config_safe_mode() {
        $.ajax({
            url: "/homecam/ajax/config/safemode/" + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (result) {
                if (result) console.log('success-safe-mode');
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function config_safe_mode_set_time() {
        var val_input = $("#input_time").val();
        console.log(val_input*86400);
        $.ajax({
            url: "/homecam/ajax/config/safemode/setTime/" + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': val_input*86400},
            success: function (result) {
                if (result) console.log('success-safe-mode');
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    setInterval(function () {
        $.ajax({
            url: '/homecam/ajax/configs/' + un + "/" + id + "/",
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (data) {
                console.log(data);
                if (data['dp'] == true) {
                    $("#dp").html('사람 인식 모드 ON <span class="badge rounded-pill bg-success">ON</span>');
                    $("#dpb").text('사람 인식 모드 끄기');
                } else {
                    $("#dp").html('사람 인식 모드 OFF <span class="badge rounded-pill bg-danger">OFF</span>'); //text('사람 인식 기능 OFF');
                    $("#dpb").text('사람 인식 모드 켜기');
                }
                if (data['rf'] == true) {
                    $("#rf").html('얼굴 인식 모드 ON <span class="badge rounded-pill bg-success">ON</span>');
                    $("#rfb").text('얼굴 인식 기능 끄기');
                } else {
                    $("#rf").html('얼굴 인식 모드 OFF <span class="badge rounded-pill bg-danger">OFF</span>');
                    $("#rfb").text('얼굴 인식 기능 켜기');
                }
                if (data['df'] == true) {
                    $("#df").html('화재 탐지 모드 ON <span class="badge rounded-pill bg-success">ON</span>');
                    $("#dfb").text('화재 탐지 기능 끄기');
                } else {
                    $("#df").html('화재 탐지 모드 OFF <span class="badge rounded-pill bg-danger">OFF</span>');
                    $("#dfb").text('화재 탐지 기능 켜기');
                }
                if (data['da'] == true) {
                    $("#da").html('반려동물 탐지 모드 ON <span class="badge rounded-pill bg-success">ON</span>');
                    $("#dab").text('반려동물 인식 기능 끄기');
                } else {
                    $("#da").html('반려동물 탐지 모드 OFF <span class="badge rounded-pill bg-danger">OFF</span>');
                    $("#dab").text('반려동물 인식 기능 켜기');
                }
                if (data['sm'] == true) {
                    $("#sm").html('안심모드 ON <span class="badge rounded-pill bg-success">ON</span>');
                    $("#smb").text('안심모드 끄기');
                } else {
                    $("#sm").html('안심모드 OFF <span class="badge rounded-pill bg-danger">OFF</span>');
                    $("#smb").text('안심모드 켜기');
                }
                var sm_time = '미감지 알림 시간 : ' + data['sm_time'] / 3600 / 24 + '일.';
                $("#sm_time").html(sm_time);
            }
        })
    }, 1000);
</script>