{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{% static 'css/mypage/mypage.css' %}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
{% include "mypage/navbar.html" %}
    <div id="layoutSidenav_content">
        <main>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width: 30%">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    {% if family_member.image2 %}
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    {% endif %}
                    {% if family_member.image3 %}
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    {% endif %}
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ family_member.image1.url }}" width="100%" alt="...">
                    </div>
                    {% if family_member.image2 %}
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ family_member.image2.url }}" width="100%" alt="...">
                    </div>
                    {% endif %}
                    {% if family_member.image3 %}
                    <div class="carousel-item">
                        <img src="{{ family_member.image3.url }}" width="100%" alt="...">
                    </div>
                    {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            가족 멤버 이름 : {{ family_member.name }}<br>
            가족 멤버 이메일 :
            {% if family_member.email %}
                {{ family_member.email }}<br>
            {% else %}
                이메일을 등록하지 않았습니다.<br>
            {%  endif %}
            가족 멤버 전화번호 :
            {% if family_member.tel %}
                {{ family_member.tel }}<br>
            {% else %}
                전화번호를 등록하지 않았습니다.<br>
            {%  endif %}

            <a href="/mypage/family/update/{{ family_member.fid }}/" class="btn btn-primary">정보수정하기</a>
            <a href="/mypage/family/delete/{{ family_member.fid }}/" class="btn btn-primary">삭제하기</a>

        </main>
        {% include "mypage/footer.html" %}
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/mypage.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/datatables-simple-demo.js' %}"></script>
</body>
</html>
