{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
        <title>SmartHomeCam</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/mainpage/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{% static 'css/mypage/mypage.css' %}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
{% include "mypage/navbar.html" %}
<div id="layoutSidenav_content">
    <main>
        {% load static %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                사용자 캡처 이미지
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Cam Id</th>
                        <th>자세히보기</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cp in capture_pictures %}
                        <tr>
                            <td>{{ cp.time|date:'Y-m-d H:i' }}</td>
                            <td>{{ cp.camid }}</td>
                            <td><a href="/mypage/capture/{{ cp.cpid }}/">
                                <button class="btn btn-primary">자세히보기</button></a></td>
                            <td>
                                <a href="/mypage/capture/delete/{{ cp.cpid }}/">
                            <button class="btn btn-primary">삭제하기</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </main>
    {% include "mypage/footer.html" %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/mypage.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/datatables-simple-demo.js' %}"></script>
</body>
</html>
