{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Charts - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{% static 'css/mypage/mypage.css' %}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        .oneLine h3,
        .oneLine h5 {
            display: inline;
        }
    </style>
</head>
<body class="sb-nav-fixed">
{% include "mypage/navbar.html" %}
<div id="layoutSidenav_content">
    <main>
        {% for homecam in homecam_list %}
            <div class="card w-90" style="margin: 5px; border-width: 7px">
                <div class="card-body">

                    <div class="row">
                        <div class="col"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <h1 class="card-title">{{ homecam.camid }}</h1><br>
                            <p>등록 시간 :</p>
                            <p>{{ homecam.reg_time }}</p>
                            <br>
                            <a style="margin: 5px" href="/mypage/alarm/list/{{ homecam.camid }}" class="btn btn-primary btn-lg" tabindex="-1"
                               role="button"
                               aria-disabled="true">알림</a>
                        </div>
                        <div class="col"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <br>
                            <div class="oneLine">
                                <h3 class="card-title">사람감지</h3>
                                <h5>
                                    {% if homecam.po_person %}
                                        <span class="badge bg-success">ON</span>
                                    {% else %}
                                        <span class="badge bg-secondary">OFF</span>
                                    {% endif %}
                                </h5>
                            </div>

                            <hr>
                            {% if homecam.po_person %}
                                <a style="margin: 5px" href="/homecam/mode/set/person/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">OFF</a>
                            {% else %}
                                <a style="margin: 5px" href="/homecam/mode/set/person/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">ON</a>
                            {% endif %}
                        </div>
                        <div class="col order-1"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <br>
                            <div class="oneLine">
                                <h3 class="card-title">외부인감지</h3>
                                <h5>
                                    {% if homecam.po_unknown %}
                                        <span class="badge bg-success">ON</span>
                                    {% else %}
                                        <span class="badge bg-secondary">OFF</span>
                                    {% endif %}
                                </h5>
                            </div>
                            <hr>
                            {% if homecam.po_unknown %}
                                <a style="margin: 5px" href="/homecam/mode/set/unknown/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">OFF</a>
                            {% else %}
                                <a style="margin: 5px" href="/homecam/mode/set/unknown/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">ON</a>
                            {% endif %}
                        </div>
                        <div class="col order-2"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <br>
                            <h4 class="card-title">화재감지
                                {% if homecam.po_fire %}
                                    <span class="badge bg-success">ON</span>
                                {% else %}
                                    <span class="badge bg-secondary">OFF</span>
                                {% endif %}
                            </h4>
                            <hr>
                            {% if homecam.po_fire %}
                                <a style="margin: 5px" href="/homecam/mode/set/fire/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">OFF</a>
                            {% else %}
                                <a style="margin: 5px" href="/homecam/mode/set/fire/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">ON</a>
                            {% endif %}
                        </div>
                        <div class="col order-3"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <br>
                            <h4 class="card-title">반려동물감지
                                {% if homecam.po_animal %}
                                    <span class="badge bg-success">ON</span>
                                {% else %}
                                    <span class="badge bg-secondary">OFF</span>
                                {% endif %}
                            </h4>
                            <hr>
                            {#                            <h4>ON/OFF :#}
                            {#                                {% if homecam.po_animal %}#}
                            {#                                    <span class="badge bg-success">ON</span>#}
                            {#                                {% else %}#}
                            {#                                    <span class="badge bg-secondary">OFF</span>#}
                            {#                                {% endif %}#}
                            {#                            </h4>#}

                            {% if homecam.po_animal %}
                                <a style="margin: 5px" href="/homecam/mode/set/animal/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">OFF</a>
                            {% else %}
                                <a style="margin: 5px" href="/homecam/mode/set/animal/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">ON</a>
                            {% endif %}
                        </div>
                        <div class="col order-4"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <br>
                            <h4 class="card-title">사람미감지

                                {% if homecam.po_safe_noperson %}
                                    <span class="badge bg-success">ON</span>
                                {% else %}
                                    <span class="badge bg-secondary">OFF</span>
                                {% endif %}
                            </h4>
                            <hr>
                            {% if homecam.po_safe_noperson %}
                                <a style="margin: 5px" href="/homecam/mode/set/noperson/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">OFF</a>
                            {% else %}
                                <a style="margin: 5px" href="/homecam/mode/set/noperson/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">ON</a>
                            {% endif %}
                            <hr>
                            <div id="sm_time">미감지 알림 시간 : {{ homecam.po_safe_no_person_day }}</div>
                            <form action="/homecam/mode/set/noperson/day/{{ homecam.camid }}/" method="post">
                                {% csrf_token %}
                                <input id="input_time" name="time" type="number" min="1" max="7"
                                       value="{{ homecam.po_safe_no_person_day }}">
                                <input class="btn btn-primary" type="submit" value="시간설정하기">
                            </form>

                        </div>
                        <div class="col order-5"
                             style="border-style: solid; border-color: #0a53be;border-width: 0px 1px 0px 0px">
                            <br>
                            <h4 class="card-title">행동미감지

                                {% if homecam.po_safe_noaction %}
                                    <span class="badge bg-success">ON</span>
                                {% else %}
                                    <span class="badge bg-secondary">OFF</span>
                                {% endif %}
                            </h4>
                            <hr>
                            {% if homecam.po_safe_noaction %}
                                <a style="margin: 5px" href="/homecam/mode/set/noaction/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">OFF</a>
                            {% else %}
                                <a style="margin: 5px" href="/homecam/mode/set/noaction/{{ homecam.camid }}/"
                                   class="btn btn-primary btn-lg" tabindex="-1"
                                   role="button"
                                   aria-disabled="true">ON</a>
                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>
        {% endfor %}


    </main>
    {% include "mypage/footer.html" %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/mypage.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/chart-area-demo.js' %}"></script>
<script src="{% static 'js/mypage/chart-bar-demo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'js/mypage/datatables-simple-demo.js' %}"></script>
</body>
</html>
